# For the Web API
fastapi[all]
python-multipart

# For Embeddings and NLP
sentence-transformers
nltk

# For Vector Search
usearch

# For Reading Different File Types
PyMuPDF
python-docx

# For the Demonstration Script/Notebook
requests
jupyterlab